






body {
  border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  height: 100vh;
  display: inline;
}
.content {
    margin-top: 13%;
    width: 100%;
}

#auteur_content {
    border: 1px solid black
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  -webkit-appearance: button; /* 2 */
  cursor: pointer;

  overflow: visible;
}
button,
select {
  text-transform: none;
}


.logo_img {
  border: 0;
    width: 4%;
    filter : invert(100%)
}

.logo_index{
  
  height: 20%;
}

#root {
    display: none
}
.tracking-in-expand {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#citations_content{ 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#auteur_index {
  display: flex;
  justify-content: center;
}

#citation_index{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  height: 20%;
}

#citations_content > h2 {
  text-align: center;
}
#citations_content > p {
  text-align: center;
}

#citations_content > a {
  display : flex;
  justify-content: center;
}

#citation_index > p::before{
  background-image: url('/src/public/guillemet.jpg');
}

#citation_index > p::after{
  background: url('/src/public/guillemet.jpg');
}
.text-center {
    margin-top: 10%
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction:column;
    font-family: 'Dancing Script';
   
}

form {
    padding: 1rem;
    @keyframes animate {
      
    }
}

h1 h2 h3 h4 h5 h6 {
    color: #333;
}

.fa-solid {
    font-size: 2rem;
}

/* h1::before{
    content: url("./guillemet.jpg");
    font-size: 2px;
}
p::after{
    background-image: url("./background.jpg");
} */


.header{
    position:sticky;
  top:0;
  z-index: 1;
}
.shadow {
    box-shadow: 0px 4px 6px #ddd;
}

.border {
    border: 1px solid #333;
    border-radius: 4px;
}

.padding {
    padding: 1rem;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

#citations_next{
  margin-top: 20%;
}
.butt_id > a {
  text-decoration: none;
  color: white
  
}

#auteur_content {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.butt_id{/* Green */

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
  font-family: 'Roboto';
}

.butt_id:hover {
  filter: invert(100%);
  color: white;
}

#butt_admin {
  margin-top: 60%;
}

.footer p {
    color: #ddd;
    margin: 0;
    position: sticky;
    bottom: 0;
}

.text-center {
    text-align: center;
}

.full-height {
    height: 100vh;
}

.navbar {
    position: sticky;
    top: 20px;
    display: flex;                  
    justify-content: space-evenly;
    background: #333;
    height: 100px;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.navbar-nav {
    position: sticky;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    padding: 0 1em;
    margin: 0;
    margin-top: 2%;
}

.navbar-nav li {
    margin: 1em 1em;
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-nav li a:link {
  color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-nav li a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    color: #111;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

#citations_next {
  height: 10%;
    margin-bottom: 10%;
}

 /* chart */
.chart {
    background: conic-gradient(#32BBF4 0 8%, #333333 0);
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
}

.key {
    width: 50%;
    float: right;
    list-style: none;
    display: table;
    border-collapse: separate;
}

.key>li {
    display: table-row;
}

.key>li>* {
    display: table-cell;
    border-bottom: 12px solid #fff;
}

.percent {
    color: #fff;
    padding: 10px 2px;
    text-shadow: 0 0 1px #000;
    text-align: center;
}


/* media queries */
/* @media (max-width: 600px) {
    .navbar{
        flex-direction:column;
        justify-content: start;
        align-content:flex-start;
    }

    .navbar-nav{
        flex-direction:column;
        margin: 0;
        justify-content: start;
        align-items:flex-start;
    }

    .navbar-nav li {
        margin: 0 1em;
    }


    .column {
        margin-bottom: 1rem;
    }

    
} */

/* hide responsive menu */
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* hide classic menu */
    .navbar {
      display: none;
    }
    #citations_content{ 
      border: 1px solid black;
      display: flex;
      flex-direction: column;
  }
  
  #citations_content > h2 {
    text-align: center;
  }
  #citations_content > p {
    text-align: center;
  }

    .logo_img {
        width: 14%;
        filter : invert(100%)
    }
    
    #root {
        display: flex
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }